<div class="template-detalle-card card">
    <div class="card-body">
        <h2>🔭 Astrophysics Camp</h2>
        <p><em>Entre rastros de luz y huellas del cosmos: una travesía para explorar, imaginar y comprender el universo.</em></p>
        
        <h3>👥 Participantes</h3>
        <p>Estudiantes de grado 7° a 11° (13 a 17 años)<br>
        Cupo máximo: 40 estudiantes</p>
        
        <h3>📅 Fecha del campamento</h3>
        <p><strong>24 al 26 de marzo 2026</strong></p>
        
        <h3>📍 Lugar</h3>
        <p><strong>Recinto quirama</strong></p>
        
        
    
        <h3>💰 Inversión</h3>
        <p><span class="precio-destacado">$1.000.000 COP</span></p>
    </div>
</div>