<div class="template-detalle-card card">
    <div class="card-body">
      <h2>🥋 El taekwondo se disfruta en familia</h2>

      <h3>📅 Fecha</h3>
      <p><strong>Sábado 6 de junio de 2026</strong></p>

      <h3>📍 Lugar</h3>
      <p><strong>Cancha Techada Colegio San José de las Vegas, Medellín</strong></p>

      <h3>💰 Inscripción</h3>
      <p><span class="precio-destacado">$40.000</span></p>

      <h3>🗂️ La inscripción incluye: </h3>
      <ul>
        <li>La experiencia para el deportista con dos acompañantes.</li>
        <li>Acompañamiento técnico experto.</li>
        <li>Souvenir para la familia.</li>
        <li>Refrigerio para el deportista.</li>
      </ul>

      <h3>🧍🧍‍♀️ Participantes</h3>
      <p>Deportista de taekwondo con máximo, dos acompañantes adultos</p>

      <h3>📝 Descripción</h3>
      <p>
        Se trata de un evento deportivo pensado para integrar a las familias en una experiencia vivencial y significativa
        en torno al taekwondo. A través de una clase especial o superclase, organizada por estaciones, padres, madres,
        cuidadores y niños participan en actividades lúdico-deportivas que fomentan la convivencia, el respeto y el
        trabajo en equipo, mientras descubren la esencia de este arte marcial.
      </p>

      <h3>📌 Declaración del participante</h3>
      <p class="mb-0">
        Al diligenciar este formulario, el/la participante declara que la información suministrada es veraz y que se
        encuentra en condiciones de salud aptas para realizar actividades físicas, manifestando no padecer enfermedades
        o limitaciones que pongan en riesgo su bienestar. Asimismo, asume de manera voluntaria la responsabilidad por su
        participación y se compromete a seguir las recomendaciones e indicaciones establecidas por la organización del evento.
      </p>
    </div>
</div>
