<div class="template-detalle-card card">
    <div class="card-body">
        <h2>🏐 Clínica de Voleibol: Vegas Élite</h2>

        <h3>📅 Fecha</h3>
        <p><strong>Sábado 11 y domingo 12 de julio de 2026</strong></p>

        <h3>📍 Lugar</h3>
        <p><strong>Instalaciones del Colegio San José de las Vegas Sede Medellín</strong></p>

        <h3>💰 Inscripción</h3>

        <p><span class="precio-destacado">Internos $400.000</span></p>
        <p><span class="precio-destacado">Externos $450.000</span></p>

        <h3>👥 Participantes</h3>
        <p>Voleibolistas con edades desde los <strong>12 años en adelante</strong>.</p>

        <h3>📝 Descripción</h3>
        <p>
            Potenciar el desempeño técnico-táctico y la mentalidad competitiva de jugadoras, mediante una inmersión
            de especialización por posiciones dirigida por integrantes de la Selección Colombia de Mayores, fomentando
            trascendencia deportiva en un entorno de formación integral.
        </p>

        <h3>✅ La experiencia incluye</h3>
        <ul class="mb-0">
            <li>2 días de inmersión completa con mentoría especializada. (4 deportistas de selección Colombia)</li>
            <li>Almuerzo durante los 2 días.</li>
            <li>Refrigerio en la tarde cada día.</li>
            <li>Certificado de participación y souvenir.</li>
        </ul>
    </div>
</div>
