<div class="template-detalle-card card">
    <div class="card-body">
        <h2>Open Kewmgang</h2>
        <p>Al diligenciar el siguiente formulario, quedará inscrito en el evento de taekwondo <strong>Open Kewmgang</strong>, que se realizará el <strong>12 de julio</strong> en el Coliseo UVA El Paraíso, San Antonio de Prado, a partir de las <strong>7:00 a.m.</strong></p>
        <p>En las modalidades de <strong>festival</strong> y <strong>combate</strong>, con cinturones de los grados blanco a verde. Puede elegir participar en una o dos modalidades y el valor es acumulable.</p>
        <p class="mb-0"><strong>Fecha límite de inscripción:</strong> 5 de julio de 2026 hasta las 11:59 p.m.</p>
    </div>
</div>
