<div class="template-detalle-card card">
    <div class="card-body">
        <h2>The Big Show</h2>
        <p>
            Evento que se realizará el <strong>domingo 23 de agosto de 2026</strong>
            en la <strong>UPB</strong>.
        </p>

        <h3>Categorías</h3>
        <ul>
            <li>Tiny gold</li>
            <li>Mini gold</li>
            <li>Youth gold</li>
            <li>Junior</li>
            <li>Youth emerald retiro</li>
        </ul>

        <h3>Inversión</h3>
        <p class="mb-0"><strong>Valor por deportista:</strong> <span class="precio-destacado">$90.000</span></p>
    </div>
</div>
