<div class="template-detalle-card card">
    <div class="card-body">
        <h2>II Festival Premini</h2>
        <p>
            Evento organizado por el <strong>Club Deportivo San José de las Vegas</strong>,
            que se realizará el <strong>29 de agosto de 2026</strong>.
        </p>

        <h3>Categoría</h3>
        <p>II FESTIVAL PREMINI (NACIDOS 2018, 2019, 2020)</p>

        <h3>Inversión</h3>
        <p class="mb-0"><strong>Valor:</strong> <span class="precio-destacado">$110.000</span> por equipo. (El valor se divide entre el número de participantes inscritos en el equipo)</p>
    </div>
</div>
