<div class="template-detalle-card card">
    <div class="card-body">
        <h2>Level Up – Nivel 2 (Retiro)</h2>
        <p>Programa extracurricular de acompañamiento académico orientado al fortalecimiento de competencias académicas, técnicas y actitudinales.</p>

        <h3>Nivel 2: Rutas de acompañamiento personalizado</h3>
        <p>Dirigido a estudiantes con diagnósticos cognitivos, del neurodesarrollo, del aprendizaje o con necesidades específicas de apoyo escolar.</p>
        <ul>
            <li><strong>Modalidad:</strong> solo individual.</li>
            <li><strong>Tiempo de implementación:</strong> 3 meses.</li>
            <li>El diseño de la ruta es realizado por maestros con especialización en neurodesarrollo.</li>
        </ul>
    </div>
</div>
